<style>
#abc
	{
		font-size:10px;
		color:white;
	}
</style>

<table border="1" text-color="#ffffff" bgcolor="#666666" id="abc" width=100%>
<tr>
	<td>Fields Name</td><td>Description</td>
</tr>
<tr>
<td>Chapter No</td><td class="a">{{ details.Chapter_No }}</td>
</tr><tr>
<td>Chapter Name</td><td class="a">{{ details.Name }}</td>
</tr><tr>
<td>Chapter Text</td><td class="b">{{ details.Text }}</td>
</tr><tr>
<td>Act Information</td><td class="a">{{ details.Act }}</td>
</tr>


</table>	
<br/>
<a href="#" onClick="parent.emailwindow.hide()"> close</a>
