<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
	<link rel="stylesheet" href="/static/modal/windowfiles/dhtmlwindow.css" type="text/css" />
	<script type="text/javascript" src="/static/modal/windowfiles/dhtmlwindow.js"></script>
	<link rel="stylesheet" href="/static/modal/modalfiles/modal.css" type="text/css" />	
	<script type="text/javascript" src="/static/modal/modalfiles/modal.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/css/style1.css"/>
	<!--<link rel="stylesheet" type="text/css" href="/static/css/style3.css"/>-->
	<script src='/static/js/jquery.min.js'></script>
        <title> Login Application |
        {% block title %}{% endblock %}</title>
    </head>

    <body><div id="login">{% block login %}{% endblock %}</div>
        <h1>{% block head %}{% endblock %}</h1>
	{% block menuWrapper %}{% endblock %}
	{% block contentmain %} {% endblock %}
	{% block cssmenu %}{% endblock %}
       <div id="content"> {% block content %}{% endblock %}</div> 
