	<script>
function opendesign(no){

	emailwindow= dhtmlmodal.open('EmailBox', 'iframe', 'orginfo/'+no  , 'Organization Detail', 'width=550px,height=450px,center=1,resize=0,scrolling=1')

} 

function emp_dept(no){

	emailwindow= dhtmlmodal.open('EmailBox', 'iframe', 'dept_employee/'+no  , 'Employee Detail', 'width=550px,height=450px,center=1,resize=0,scrolling=1')

} 
</script>
<style>
#abc
{
	color:white;
	font-size:10px;
}
</style>
<table border="1" text-color="#ffffff" bgcolor="#666666" id="abc">
<tr>
	<td>Department ID</td><td> Department Name</td><td>Address</td><td>Contact No</td><td>Organization ID</td><td>Employee</td><td>Modify</td>
</tr>
{% for person in details %}
<tr>
<td class="a">{{ person.ID }}</td>
<td class="a">{{ person.Name }}</td>
<td class="b">{{ person.Address }}</td>
<td class="a">{{ person.Contact_No }}</td>
<td class="b"><a href="#" onClick="opendesign({{ person.Organization_ID }}); return false">{{ person.Organization_ID }}</a></td>
<td class="b"><a href="#" onClick="emp_dept({{ person.ID }}); return false">Show</a></td>
<td class="b"><a href="editDept/{{ person.ID }}"> Edit</a></td>
</tr>
{% endfor %}

</table>	

<a href="#" onClick="parent.emailwindow.hide()"> close</a>
