{% extends "base.html" %}
{% block header %}
<div id=header>
header
<br/>

</div>
{% endblock %}

{% block title %}Home{% endblock %}
{% block head %}Home{% endblock %}
{% block login %}{% if user.username %}
<table>
<tr>
    <td>Welcome {{user.username }}!!!</td><td><a href="/logout/">Logout</a></td>
		</tr>
</table>
{% else %}
<table>
<tr>
    <td><a href="/accounts/login/">Login</a></td><br/>
		</tr>
</table>

{% endif %}
{% endblock %}
{% block menuWrapper %}
 <div id='menuWrapper'>
<ul class='menu'>
	
<!--<li class='top'><a class='top_link' href='#'><span class='down'>Project</span></a>
<ul class='sub'>
	<li><a class='fly' href='/addproject'>Add Project</a>
	<ul>
		<li><a href='Link URL'>Submenu 2.1.1</a></li>
		<li><a href='Link URL'>Submenu 2.1.2</a></li>
		<li><a href='Link URL'>Submenu 2.1.3</a></li>
	</ul>
	</li>
<li class='mid'><a class='fly' href='Link URL'>Submenu 2.2</a>
<ul>
<li><a href='Link URL'>Submenu 2.2.1</a></li>
<li><a href='Link URL'>Submenu 2.2.2</a></li>
<li><a href='Link URL'>Submenu 2.2.3</a></li>
<li><a class='fly' href='Link URL'>Submenu 2.2.4</a>
<ul>
<li><a href='Link URL'>Submenu 2.2.4.1</a></li>
<li><a href='Link URL'>Submenu 2.2.4.2</a></li>
<li><a href='Link URL'>Submenu 2.2.4.3</a></li>
</ul>
</li>
<li><a href='Link URL'>Submenu 2.2.5</a></li>
<li><a class='fly' href='Link URL'>Submenu 2.2.6</a>
<ul>
<li><a href='Link URL'>Submenu 2.2.6.1</a></li>
<li><a href='Link URL'>Submenu 2.2.6.2</a></li>
</ul>
</li>
</ul>
</li>
<li><a href='Link URL'>Submenu 2.3</a></li>
<li><a href='Link URL'>Submenu 2.4</a></li>
<li><a href='Link URL'>Submenu 2.5</a></li>
</ul>
</li>-->

<li class='top'><a class='top_link' href='#'><span class='down'>Organization</span></a>
<ul class='sub'>
{% if user.username %}
<li><a href='/addorganization'>Add New</a></li>{% endif %}
<li><a href='/displayorg'>Show All</a></li>
<li><a href='Link URL'>Submenu 3.3</a></li>
<li><a href='Link URL'>Submenu 3.4</a></li>
</ul>
</li>

<li class='top'><a class='top_link' href='#'><span class='down'>Department</span></a>
<ul class='sub'>{% if user.username %}
<li><a href='/adddepartment'>Add New</a></li>{% endif %}
<li><a href='/displaydept'>Show All</a>
</ul>
</li>
<li class='top'><a class='top_link' href='#'><span class='down'>Employee  Detail</span></a>
		<ul class='sub'>{% if user.username %}
			<li><a href='/addemployee'>Add Employee</a></li>{% endif %}
			<li><a href='/search'>Search Employee</a></li>
			<li><a class='fly' href='#'>Show History</a>
				<ul>
					<li><a href='/edithistory'>All</a></li>
					<li><a href='/filterhistory'>Filter History</a></li>
					<li><a href='#'>Submenu 2.1.3</a></li>
				</ul>
			</li>
			<li><a class='fly' href='#'>Display</a>
				<ul>
					<li><a href='/display'>All</a></li>
					<li><a href='/find'>Filter Display</a></li>
					<li><a href='Link URL'>Submenu 2.1.3</a></li>
				</ul>	
			</li>
		</ul>
	</li>

<li class='top'><a class='top_link' href='#'><span class='down'>Project</span></a>
<ul class='sub'>{% if user.username %}
<li><a href='/addproject'>Add Project</a></li>{% endif %}
<li><a href='/showproject'>Show All Project</a></li>
<li><a href='/disemppro'>Show Officer In Charge</a></li>{% if user.username %}
<li><a href='/addcomment'>Add Comment</a></li>{% endif %}
</ul>
</li>



<li class='top'><a class='top_link' href='#'><span class='down'>Act</span></a>
<ul class='sub'>{% if user.username %}
<li><a href='/addact'>Add Act</a></li>{% endif %}
<li><a href='/showallact'>Show All Act</a></li>
</ul>
</li>

<li class='top'><a class='top_link' href='#'><span class='down'>Chapter</span></a>
<ul class='sub'>{% if user.username %}
<li><a href='/addchapter'>Add Chapter</a></li>{% endif %}
<li><a href='/showallchapter'>Show All Chapter</a></li>
</ul>
</li>

<li class='top'><a class='top_link' href='#'><span class='down'>Section</span></a>
<ul class='sub'>{% if user.username %}
<li><a href='/addsection'>Add Section</a></li>{% endif %}
<li><a href='/showallsection'>Show All Section</a></li>
</ul>
</li>

<li class='top'><a class='top_link' href='#'><span class='down'>Designation</span></a>
<ul class='sub'>
<li><a class='fly' href='#'>Appointment</a>
				<ul>{% if user.username %}
					<li><a href='/addapp'>Add Appointment</a></li>{% endif %}
					<li><a href='/showallapp'>Show All Appointment</a></li>
	
				</ul>
</li>
<li><a class='fly' href='#'>Duration</a>
				<ul>{% if user.username %}
					<li><a href='/adddur'>Add Duration</a></li>{% endif %}
					<li><a href='/showalldur'>Show All Duration</a></li>
	
				</ul>
</li>

<li><a class='fly' href='#'>Powers And Duties</a>
				<ul>{% if user.username %}
					<li><a href='/addpad'>Add Powers And Duties</a></li>{% endif %}
					<li><a href='/showallpad'>Show All Powers And Duties</a></li>
	
				</ul>
</li>
<li><a class='fly' href='#'>Removal</a>
				<ul>{% if user.username %}
					<li><a href='/addrem'>Add Removal</a></li>{% endif %}
					<li><a href='/showallrem'>Show All Removal</a></li>
	
				</ul>
</li>

{% if user.username %}
<li><a href='/add_desig'>Add Designation</a></li>{% endif %}
<li><a href='/showalldesig'>Show All Designation</a></li>
</ul>
</li>

<li class='top'><a class='top_link' href='#'><span class='down'>ThirdParty</span></a>
<ul class='sub'>{% if user.username %}
<li><a href='/addthirdparty'>Add ThirdParty</a></li>{% endif %}
<li><a href='/showallparty'>Show All ThirdParty</a></li>
</ul>
</li>


 
<!--<li>
<form action='/search' id='search' method='get' name='searchForm' style='display:inline;'>
<input id='search-box' name='q' onblur='if (this.value == &quot;&quot;) this.value = &quot;Search here...&quot;;' onfocus='if (this.value == &quot;Search here...&quot;) this.value = &quot;&quot;;' size='28' type='text' value='Search here...'/></form>
</li>-->
</ul>
</div>
{% endblock %}


{% block cssmenu %}

<div id='cssmenu'>
<ul class='menu'>
	<li><a class='fly' href='#'>More</a>
	 <ul>
	     <li><a href='Link URL'>Submenu 2.1.3</a></li>
	 </ul>	
	</li>
	<li><a class='fly' href='/home'>Home</a></li>
	<li><a class='fly' href='#'>About Us</a>
	<li><a class='fly' href='#'>Contact Info</a>
	<!--<li><a class='fly' href='/accounts/login'>Log In</a>-->{% if user.username %}
	<li><a class='fly' href='/register'>Register</a>{% endif %}
    </ul>

</div>

{% endblock %}
{% block contentmain %}
<div id='contentmain' >


					
				{% if home %}
				<center>
				{% include "./allsearch.html" %}</center>
				{% endif %}
			<!--	{% if emp %}{% include "emphome.html" %} 	{% endif %}-->
				<center><h1>{{ content_title }}</h1></center>
				
			
				{% if form %}
				
				<form action={{ action_url }} method="POST">{% csrf_token %}	
				<table border="1" bgcolor="#420000" align="center" width=100%>
				{{ form.as_table }}
				</table>
				<center><input type ="submit" value="Submit"/></center>	
				{% endif %}
				
				{% if form1 %}
				
				<form action={{ action_url }}  enctype={{ enctype }} method="POST">{% csrf_token %}	
				<table border="1" bgcolor="#420000" align="center" width=100%>
				{{ form1.as_table }}
				</table>
				<center><input type ="submit" value="Submit"/></center>	
				{% endif %}
				{% if search %} {% include "./search.html" %} {% endif %}
				{% if allsearch %} {% include "./allsearch.html" %} {% endif %}
			
				{% if empcontent %} {{ empcontent }} {% endif %}
				
				{% if history %} {{ history }}{% endif %}
				{% if content %} {{ content }}{% endif %}



</div>
{% endblock %}
{% block footer %}
<div id=footer>
All right reserved
<br/>
in

</div>
{% endblock %}
</html>
