<script>
function opendesign(no){

	emailwindow= dhtmlmodal.open('EmailBox', 'iframe', 'org_dept/'+no  , 'Department Detail', 'width=550px,height=450px,center=1,resize=0,scrolling=1')

} 

function openorgemp(no){

	emailwindow= dhtmlmodal.open('EmailBox', 'iframe', 'org_employee/'+no  , 'Department Detail', 'width=550px,height=450px,center=1,resize=0,scrolling=1')

} 

</script>


<table border="1" text-color="#ffffff" bgcolor="#666666">
<tr>
	<td>Organization ID</td><td> Organization Name</td><td>Address</td><td>Contact No</td><td>Mission</td><td>Website URL</td><td>Show Department</td><td>Show Employee</td><td>Modify Record</td>
</tr>
{% for person in details %}
<tr>
<td class="a">{{ person.ID }}</td>
<td class="a">{{ person.Name }}</td>
<td class="b">{{ person.Address }}</td>
<td class="a">{{ person.Contact_No }}</td>
<td class="b">{{ person.Mission }}</td>
<td class="b">{{ person.Web_Url }}</td>
<td class="b"><a href="#" onClick="opendesign({{ person.ID }}); return false">Show</a></td>
<td class="b"><a href="#" onClick="openorgemp({{ person.ID }}); return false">Show</a></td>
<td class="b"><a href="editOrg/{{ person.ID }}"> Edit</a></td>
</tr>
{% endfor %}

</table>	


